<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SVBurger</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/svBurger.css'>
</head>
<body>
    <div class='container'>

        <h1>SvBurger</h1>
        <button ><a href="/signUp"> new client</a></button><br>
        <button > <a href="/signIn"> old client</a></button>
        
    </div>
    <script src='/webServer.js'></script>
</body>
</html>