<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SVBurger</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/svBurger.css'>
</head>
<body>
   <div class='container'>

       <h1>SvBurger</h1>
       <h3 id='welcome'> welcome  </h3>
<table border="1"  style="background-color: rgb(236, 236, 248);">

    <tr>
        <td><img src="./img/hamburger.jpg" alt="hamburger"></td>
        <td>Hamburger meal + chips + drink <br>  59 shek</td>
    </tr>
    
    <tr>
        <td><img src="/img/kids meal.png" alt="kids meal"></td>
        <td>Kids meal : schnitzel + drink <br> 39 snek</td>
    </tr>
    
    <tr>
        <td><img src="/img/ha.jpg" alt="hamburger"></td>
        <td>Hamburger : 220gr <br> 45shek</td>
    </tr>
    
    <tr>
        <td><img src="/img/vegan.jpg" alt="vegan"></td>
        <td><span>Sv_vegan<br>A vegan burger <br> 50 shek </td>
        </tr>
        
        <tr>
            <td><img src="/img/home.jpg" alt="vegan"></td>
            <td>House chips <br> 30 shek</td>
        </tr>
    </table>
</div> 
    
    <script src='/svBurger.js'></script>
</body>
</html>